/* ========== General ========== */

body {
    font-family: 'Roboto', sans-serif!important;
}
h1, h2, h3 {
    font-family: 'Open Sans Condensed', sans-serif!important;
}

/* ========== Header ========== */

header {
    background: #f8f9fa;
    border-bottom: 1px solid #efefef;
}
#logo {
    display: block;
    height: 50px;
    background-image: url(https://bellini.fr/wp-content/uploads/2017/04/logo-longines-large.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
    transition: all 0.1s ease-in;
}
#logo:hover {
    opacity: 0.6;
    transform: scale(1.02);
}

/* ========== Nav content ========== */

nav {
    padding-bottom: 0px!important;
    box-shadow: 0 3px 3px rgba(0,0,0,0.06), 0 3px 3px rgba(0,0,0,0.13);
}
.navbar-text {
    text-transform: uppercase;
}
nav input[type="text"]::placeholder {
    color: rgba(0,0,0,.2);
}
nav .btn-group.float-right button {
    color: rgba(0,0,0,.6);
}
.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,.0)!important;
}
#collapsed-search {
    display: none;
}
#cart-num {
    position: absolute;
}

/* ========== Main content ========== */

main {
    background-color: #fff;
    min-height: calc(100vh - 205px);
    margin: 0 auto;
}
main .container.watch-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-end;
    align-items: flex-end;
}
#filter .form-group {
    max-width: 300px;
}

/* ========== Footer ========== */

footer {
    background-color: #f8f9fa;
    box-shadow: 0 -3px 3px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
footer p {
    color: rgba(0,0,0,.5);
    margin: 0;
    padding: 30px;
}

/* ========== Cards ========== */

.card {
    border: none!important;
    overflow: hidden;
    width: 200px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card:hover {
    z-index: 10;
    transform: scale(1.05);
    box-shadow: 0 7px 28px rgba(0,0,0,0.20), 0 7px 10px rgba(0,0,0,0.18);
}
.card .img-container {
    /*max-height: 13vw;*/
    overflow: hidden;
}
.card .img-container .card-img-top {
    max-height: 280px;
    opacity: 0.8;
    object-fit: contain;
    filter: sepia(20%);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card:hover .card-img-top {
    opacity: 1;
}
.card:hover button {
    display: block;
}
.card h3 {
    font-size: 1.2em;
    color: rgba(0,0,0,.8);
}
.card p {
    font-size: 0.8em;
    margin: 4px 0px;
    color: rgba(0,0,0,.5);
}
.card .price {
    color: rgba(0,0,0,1);
}
.card .btn-group {
    min-height: 22px;
}
.card button {
    display: none;
    font-size: 0.6em;
    padding: 3px 5px;
}

/* ========== Icons ========== */

.fa-search {
    padding: 0 10px;
}

@media (max-width: 991px) {
    #collapsed-search {
        display: block;
    }
    #fullscreen-search {
        display: none;
    }
}